:host {
  display: block;
}

.header {
  display: block;
  font-size: 10px;
  background-color: orange;
  padding: 0.4em;

  spoticast-user {
    float: right;
  }
}

.layout {
  display: flex;
  flex-direction: column;
  // flex-flow: column-reverse;
  height: calc(100vh - 15px);
  padding-bottom: 2em;

}

.main-container {
  flex: 1 0 auto;
  height: 150px;

  &>* {
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}

.colonna {
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
  height: 100px;

}

spoticast-device-list {
  flex: 0 1 auto;
}


@media (orientation: landscape) {
  .layout {
    flex-direction: row;
    padding-bottom: 0.5em;
  }

  .colonna {
    width: 30vw;
    
    padding: 0 0.3em;
  }

  .main-container {
    width: 70vw;
    height: 100%;
  }
}